<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="#" />
        <link href="../static/site.css" rel="stylesheet">
        <title>Crédits - Projet ATLAS</title>
    </head>
    

    <body>
        <nav>
            <ul>
                <li style="border-left: dashed;"><a class="active" href="http://127.0.0.1:5000/">Accueil</a></li>
                <li><a href="http://127.0.0.1:5000/simulation/">Simulation</a></li>
                <li style="float:right;"><a href="http://127.0.0.1:5000/credits/">Crédits</a></li>
                <li style="float:right;border-left: dashed;"><a href="http://127.0.0.1:5000/documentation/">Documentation</a></li>
            </ul>
        </nav>
        
        <h1>ATLAS</h1>

        <center>
            <p>
                Ce site a été réalisé par les étudiants de Sorbonne Université :
                <br>
                <br>CHU Amélie
                <br>COMBO Lyna
                <br>PHAM Anabelle
                <br>SAE LIM Thierry
                <br><br>

                Dans le cadre de l'UE LU2IN013 Projet, sous la charge de notre chargé de TD Nicolas Maudet.
                <br>
                <br>
                Quadrillage politique fait par <i>Richard ENG</i>.
                <br>
            </p>
        </center>
    </body>
</html>