<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="#" />
        <link href="../static/site.css" rel="stylesheet">
        <link href="../static/accueil.css" rel="stylesheet">
        <title>Accueil - Projet ALIAS</title>
    </head>

<body>
    <nav>
        <ul>
            <li style="border-left: dashed;"><a class="active" href="http://127.0.0.1:5000/">Accueil</a></li>
            <li><a href="http://127.0.0.1:5000/simulation/">Simulation</a></li>
            <li style="float:right;"><a href="http://127.0.0.1:5000/credits/">Crédits</a></li>
            <li style="float:right;border-left: dashed;"><a href="http://127.0.0.1:5000/documentation/">Documentation</a></li>
        </ul>
    </nav>
    
    <h1>ATLAS</h1>

    <h3 style="margin-left: 50px;">Projet LU2IN013 - Groupe 1 </h3>
    <p style="float:right;position:relative; margin-right:50px;">
        <img style="width: 110%;" src="../static/grillage_political_compass_leg.png" alt="Ma boussole politique" />
    </p>
    <p style="font-size: 40px; font-weight: bold; ">Connaissez-vous la boussole politique ?</p>
    <p style="color: black;">
        <br>
        Il s'agit du quadrillage à droite. Elle est présentée par le site 
        <a href="https://www.politicalcompass.org/", style="font-style: italic;"> The Political Compass </a>
        et permet de se représenter dans le paysage politique en fonction de deux axes principaux : l'abscisse 
        pour le positionnement économique (qui varie de Gauche à Droite), l'ordonnée pour le positionnement social 
        (qui varie de Haut = Autoritaire à Bas = Libertaire). Notre projet a pour but de simuler une élection en 
        plaçant des personnages (candidats, électeurs) sur la boussole et déterminer le gagnant en fonction de différentes méthodes de votes.
        <br>Vous souhaitez testez notre site ? C'est par ici !
    </p>
    
    <center>
        <a href="http://127.0.0.1:5000/simulation/" style="font-stretch: condensed;">
            <div class="btn btn-three">
                SIMULATION 
            </div>
        </a>
    </center>
</body>

</html>